<h1> {{ gmina.nazwa }}</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% load staticfiles %}
<script type="text/javascript" src="{% static "jquery-2.1.4.min.js" %}"></script>
<script type="text/javascript" src="{% static "cookie_plugin/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "scripts.js" %}"></script>

<table style="border: 1px solid black">
    <thead>
        <tr>
            <th></th>
            <th>Nr obwodu</th>
            <th>Adres</th>
            <th>Otrzymanych kart do głosowania</th>
            <th>Wyborców uprawnionych do głosowania</th>
        </tr>
    </thead>
    <tbody>
        {% for obwod in obwody %}
                <tr>
                    <td><form id="form{{ obwod.id }}" action="{% url 'obwod' obwod.id %}" method="POST">
                        {% csrf_token %}
                    </form></td>
                    <td>{{ obwod.numer }}</td>
                    <td>{{ obwod.adres }}</td>
                    <td id="ok{{ obwod.id }}">{{ obwod.otrzymanych_kart }}</td>
                    <td id="upr{{ obwod.id }}">{{ obwod.uprawnionych }}</td>
                    <td>
                        <button id="editButton{{ obwod.id }}"> Edytuj </button>
                        <button id="submitButton{{ obwod.id }}"> Zapisz </button>
                        <button id="cancelButton{{ obwod.id }}"> Anuluj </button></td>
                    <script type="text/javascript">
                        $(document).ready(zmiana({{ obwod.id }}));
                    </script>
                </tr>
        {% endfor %}
    </tbody>
</table>